################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NyFund/FileContentIndex
/.vs/NyFund/DesignTimeBuild
